.featuredInfo{
    padding:20px;
}
.titleitem{
    font-size: 22px !important;
    font-family: 'Source Sans Pro' !important;
    margin-left:20px !important;
}
.statusitem{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.itemchange, .itemprice, .iteminfo{
    font-family: 'Source Sans Pro' !important;
    color: rgb(15, 15, 15);
}
.itemprice{
    font-size: 40px !important;
   
}
.itemchange{
    font-size: 30px !important;
}
.iteminfo{
    font-size: 18px !important;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px !important;
    color:#565151 !important;
}
.success{
    color:rgb(29, 179, 79);
}